<link rel="stylesheet" href="static/styles/style_header.css">
<header id="line-menu">

    <button id="menu-button">Menu &#9776;</button>
    <div class="sidebar">
        <a href="javascript:void(0)" id="close-button">&times;</a> <!-- Adiciona o botão de fechamento -->
        <a href="/queue">Fila</a>
        <a href="/">Home</a>
        <a href="http://localhost:5001/" target="_blank">Painel de Senha</a>
    </div>
    <div id="header">
        <img src="{{ url_for('static', filename='images/FilaCerta.png') }}" alt="Logo" />
    </div>


</header>